.item {
  width: 350px;
}

.item p {
  margin: 6px 0;
}

.item-prices {
  display: flex;
  gap: 20px; /* Space between new and old price */
}

.item-price-new {
  color: #374151;
  font-size: 18px; /* Corrected '18x' to '18px' */
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through; /* Strikethrough for old price */
}

.item:hover {
  transform: scale(1.05);
  transition: transform 0.6s ease;
}
.item-link {
  text-decoration: none; /* Remove underline */
  color: #007BFF; /* Change to your desired color */
  font-weight: bold; /* Optional: make it bold */
}

.item-link:hover {
  text-decoration: underline; /* Add underline on hover */
  color: #0056b3; /* Darker shade on hover */
}
